
  {% extends 'all-grammy/base.html' %} {% block content %} {%for grammy_items in grammy%}

<div class="container" margin-left:50%>
    <div class="col-lg-6 col-lg-offset-3">
        <div class="card" style="width:500px;border:1.5px solid #ccc">
            <div class="card-body" style="border-bottom-color:#ccc;height:100%;"></div>





            <a href="{% url 'profile' grammy_items.id%}">{{grammy_items.user}} </a>
            <img src="{{grammy_items.profile.image.url}}" alt="" style="width:25%;border-radius:50%">
            <h5>{{grammy_items.caption |safe}}</h5>

            <img src="{{grammy_items.image.url}}" alt="height=" 500 " width="500 ">
                
                
                        <span style="margin-top:10px; font-weight:bold; font-size:15px; ">
                                {% if validate_vote == 0 %}
                                <a href="{% url 'likes' user.id %} " >
                    <i class="fa fa-heart "  style="color:pink " ></i></a>
                    {%endif%}
                    <!-- {{likess}} -->
                    likes</span>


                    <span>
                    <i class="fa fa-comment "></i><a href ="{%url 'comment'%} "><i>comments</i></a></span>
                    <br>
                    <br>
                    <br>
                {% for comment_item  in comments %}
                <span class="comment-text "> {{comment_item.comments}} </span>
                <div class="card-comment ">
                    
                    <p class="comment-user ">{{ comment_item.user}}</p>

                </div>

            </div>
        </div>
        <br>
<br>
<br>
        {%endfor%} {%endfor%}
    </div>
</div>


<div id="instafeed-gallery-feed " class="gallery row no-gutter "></div>
<button id="btn-instafeed-load " class="btn ">Load more</button>


{% endblock%}