{% extends 'all-grammy/base.html' %}
{% load staticfiles%}

{% block styles %}

    {{block.super}}
    

{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}
    <form action="="{% if re%}
<!-- {% for grammy_item in grammy%}
    {% for follow_item in follow%}

    <div class="container">
            <a href="{% url 'follow' grammy_items.id%}">{{grammy_items.user}} </a>
        
        <h2>
            {{message}}
        </h2>
        
    </div>
    {%endfor%}
{%endfor%} -->
{% endblock %}