{% extends 'all-grammy/base.html' %} {% load static %}


<!-- Styles block -->
{% block styles %} {{block.super}}
<link rel="stylesheet" href="{% static 'css/grammy.css'%}"> {% endblock %}

<!-- Content block -->
{% block content %} {{block.super}}

            
<div class="container">
        <div class="row ">
            <div class="col-md-4 col-lg-4 " style="border-color:rgb(90, 175, 250);">
            <h3>{{post_profile.profile.user}} </h3>
            <img src="{{post_profile.profile.image.url}}" alt="" style="width:75%;border-radius:50%"> <img src="{{post_profile.profile.image.url}}" alt="" style="width:75%;border-radius:50%">
            <h5>{{post_profile.profile.bio}}</h5>
        </div>
    </div>
            {% for item in grammy%}
            <div class="container  margin-left: 1rem">
            
    <div class="card"style="width: 18rem;"class="d-flex" >
            <img class="card-img-top" src="{{item.image.url}}" height="300" width="300"lt="" class="align-self-end" >
          </div>
        </div>
          
            {%endfor%}

        


            
        </div>
    </div>
</div>
{%endblock%}