
{% extends 'all-grammy/base.html' %}
{% load staticfiles%}
{% load bootstrap3 %}<!-- Content block -->
{% block content %}

    {{block.super}}

    <div class="container">    

        <!-- Empty Div -->
        <div class="col-md-2 col-lg-2">
            
        </div>

        <!-- Create Comment form -->

        <div class="col-md-8 col-lg-8">

            <form action="" method="post" enctype="multipart/form-data">

                {% csrf_token %}

                {% bootstrap_form form %}

                <input type="submit" class="btn btn-success btn-lg" value="Post">

            </form>

        </div>

        <!-- Empty Div -->
        <div class="col-md-2 col-lg-2">
            
        </div>


        
    </div>

{% endblock %}