{% extends 'all-grammy/base.html'%} {% load staticfiles%} {% load bootstrap3%} {% block content %} {{block.super}}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-10">
            <div class="card" style="width: 18rem">
                <img src="{{post.profile.profile_pic.url}}" alt="{{post.profile.user.username}}" class="img-responsive ">
                <h6 class="username"></h6>>{{post.profile.user.username}}</h6>
            </div>
            <div class = "card">
                <img src="{{post.image.url}}" alt="{{post.caption}}">
                <h4 class = "text-center">{{post.caption}}</h4>
                {{likes}}
                {% if likes %}
                <i class = "heart" aria-hidden="true"></i>
                {else%}
                <a href="{% url 'likes' post.id%}">
                    <i class ="heart-o" aria-hidden="true"></i>
                </a>
                {%endif%}
            </div>
        </div>
    </div>
</div>
{% endblock%}