{% extends 'all-grammy/base.html' %} {% load static %}


<!-- Styles block -->
{% block styles %} {{block.super}}
<link rel="stylesheet" href="{% static 'css/grammy.css'%}"> {% endblock %}

<!-- Content block -->
{% block content %} {{block.super}}
<div class="row">
    <div class="col-sm-6">
        {%if profiles%}
        <h2>found {{profiles|length}} of searched tearm {{meassage}} </h2>
        {%else%}
        <h2> found 0 user for the searched tearm {{message}}</h2>
        {%endif%}
    </div>
</di>


<div class="row">
 {% if profiles%}
 {% for profile_items in profiles%}
 
    <div class="col-sm-4">
<img src="{{profile_items.image.url}}" alt="">
<p>username : {{profile_items.user.username}}</p>
<p>Bio : {{profile_items.bio}}</p>    </div>
</div>
{%endfor%}
{%endif%}
{%endblock%}
